.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.login-box .user-box {
    position: relative;
    margin-bottom: 40px; /* Increased spacing between form groups */
}
  
.login-box .user-box input,
.login-box .user-box .form-control { /* Added .form-control for Reactstrap inputs */
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box .form-control { /* Specific styles for Reactstrap inputs */
    border-radius: 0; /* Maintain consistency with the design */
    box-shadow: none;
    border-color: #fff; /* Ensure the border color matches the design */
}

.login-box .user-box label {
    position: absolute;
    top: -20px; /* Adjusted for better alignment */
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    transition: .5s;
    background: rgba(24, 20, 20, 0); /* Add background color to label for readability */
    padding-left: 5px; /* Add padding to avoid overlap with the input border */
    padding-right: 5px; /* Add padding to avoid overlap with the input border */
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box .form-control:focus ~ label { /* Added .form-control:focus for Reactstrap inputs */
    color: #bdb8b8;
    font-size: 12px;
}

/* Adjustments for the submit button */
.login-box form a,
.login-box form button { /* Updated to include button for Reactstrap */
    display: block; /* Center the button/a element */
    width: 100%; /* Full width */
    text-align: center; /* Center text for consistency */
    margin: 0 auto; /* Center the element */
    margin-top: 20px; /* Add some space above the submit button */
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  
  